body {
    color: #7E7E7E;
    background-color: #101010;
}

h1, h2, h3, a {
    color: #EEC330;
}

.rintamaki {
    color: #43878a;
}

.complete {
    color: #3399ff;
}

.incomplete {
    color: #596e8f;
}

footer {
    color: #803938;
}


/* Lesson plan 5 */

