/* 
    Basic generals
*/
body {
    background: linear-gradient(to bottom, #7F90AC, #F4F1BE);
    background-repeat: no-repeat;
    height: 100%;
}

div {
    color: blue;
}

h1 {
    padding-left: 225px;
}

/* 
    Specific Generals
*/
.nav {
    border: 3px solid blue;
    border-radius: 15px;
    margin-left: 225px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    color: blue;
}

#tab {
    padding-left: 25px;
}

.main {
    margin-left: 550px;
    padding-left: 10px;
    margin-right:40px;
}

footer {
    padding-top: 200px;
    padding-left: 250px;
}

@media print {
    .nav {
        display: none;
    }

    body {
        background: white;
    }

    div {
        color: black;
    }
    .main {
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
    }

    footer {
        padding-top: 0px;
        padding-left: 0px;
    }
    h1 {
        padding-left: 0px;
    }
}